<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>enemy_8_effect_7.png</key>
			<dict>
				<key>width</key>
				<integer>165</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>47</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>enemy_8_effect_6.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>97</integer>
				<key>x</key>
				<integer>166</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>enemy_8_effect_5.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>48</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>enemy_8_effect_4.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>45</integer>
				<key>y</key>
				<integer>48</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>enemy_8_effect_3.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>61</integer>
				<key>originalHeight</key>
				<integer>86</integer>
				<key>x</key>
				<integer>96</integer>
				<key>y</key>
				<integer>48</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>enemy_8_effect_2.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>39</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>137</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>enemy_8_beattack_1.png</key>
			<dict>
				<key>width</key>
				<integer>201</integer>
				<key>height</key>
				<integer>264</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>191</integer>
				<key>offsetX</key>
				<real>-156.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>enemy_8_effect_1.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>40</integer>
				<key>y</key>
				<integer>148</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>enemy_8_stand_1.png</key>
			<dict>
				<key>width</key>
				<integer>298</integer>
				<key>height</key>
				<integer>276</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>98</integer>
				<key>offsetX</key>
				<real>-88</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>enemy_8_stand_2.png</key>
			<dict>
				<key>width</key>
				<integer>298</integer>
				<key>height</key>
				<integer>276</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>501</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-88</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>enemy_8_stand_3.png</key>
			<dict>
				<key>width</key>
				<integer>298</integer>
				<key>height</key>
				<integer>276</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>456</integer>
				<key>offsetX</key>
				<real>-88</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>enemy_8_stand_4.png</key>
			<dict>
				<key>width</key>
				<integer>299</integer>
				<key>height</key>
				<integer>276</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>733</integer>
				<key>offsetX</key>
				<real>-88.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>enemy_8_stand_5.png</key>
			<dict>
				<key>width</key>
				<integer>299</integer>
				<key>height</key>
				<integer>275</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>299</integer>
				<key>y</key>
				<integer>375</integer>
				<key>offsetX</key>
				<real>-88.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>enemy_8_stand_6.png</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>274</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>599</integer>
				<key>y</key>
				<integer>277</integer>
				<key>offsetX</key>
				<real>-89</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>enemy_8_stand_7.png</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>274</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>300</integer>
				<key>y</key>
				<integer>651</integer>
				<key>offsetX</key>
				<real>-89</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>enemy_8_stand_8.png</key>
			<dict>
				<key>width</key>
				<integer>299</integer>
				<key>height</key>
				<integer>275</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>601</integer>
				<key>y</key>
				<integer>552</integer>
				<key>offsetX</key>
				<real>-88.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>enemy_8_stand_9.png</key>
			<dict>
				<key>width</key>
				<integer>298</integer>
				<key>height</key>
				<integer>276</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>800</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-88</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>g_Knifelight_11_8.png</key>
			<dict>
				<key>width</key>
				<integer>171</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>232</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>1099</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>13</real>
			</dict>
			<key>g_Knifelight_11_9.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>232</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>900</integer>
				<key>y</key>
				<integer>277</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>g_Knifelight_11_10.png</key>
			<dict>
				<key>width</key>
				<integer>168</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>232</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>1099</integer>
				<key>y</key>
				<integer>164</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>13</real>
			</dict>
			<key>g_Knifelight_11_11.png</key>
			<dict>
				<key>width</key>
				<integer>168</integer>
				<key>height</key>
				<integer>178</integer>
				<key>originalWidth</key>
				<integer>232</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>1271</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>g_Knifelight_11_12.png</key>
			<dict>
				<key>width</key>
				<integer>199</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>232</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>1071</integer>
				<key>y</key>
				<integer>330</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-35</real>
			</dict>
			<key>g_Knifelight_11_13.png</key>
			<dict>
				<key>width</key>
				<integer>228</integer>
				<key>height</key>
				<integer>190</integer>
				<key>originalWidth</key>
				<integer>232</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>601</integer>
				<key>y</key>
				<integer>828</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>g_Knifelight_11_14.png</key>
			<dict>
				<key>width</key>
				<integer>232</integer>
				<key>height</key>
				<integer>178</integer>
				<key>originalWidth</key>
				<integer>232</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>1440</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>10.5</real>
			</dict>
			<key>g_Knifelight_11_15.png</key>
			<dict>
				<key>width</key>
				<integer>232</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>232</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>1271</integer>
				<key>y</key>
				<integer>179</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>12.5</real>
			</dict>
			<key>g_Knifelight_11_16.png</key>
			<dict>
				<key>width</key>
				<integer>232</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>232</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>901</integer>
				<key>y</key>
				<integer>460</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>15.5</real>
			</dict>
			<key>g_Knifelight_11_5.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>188</integer>
				<key>originalWidth</key>
				<integer>143</integer>
				<key>originalHeight</key>
				<integer>197</integer>
				<key>x</key>
				<integer>901</integer>
				<key>y</key>
				<integer>627</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>g_Knifelight_11_6.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>143</integer>
				<key>originalHeight</key>
				<integer>197</integer>
				<key>x</key>
				<integer>1134</integer>
				<key>y</key>
				<integer>460</integer>
				<key>offsetX</key>
				<real>25.5</real>
				<key>offsetY</key>
				<real>-18</real>
			</dict>
			<key>g_Knifelight_11_7.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>143</integer>
				<key>originalHeight</key>
				<integer>197</integer>
				<key>x</key>
				<integer>1271</integer>
				<key>y</key>
				<integer>354</integer>
				<key>offsetX</key>
				<real>51.5</real>
				<key>offsetY</key>
				<real>-34.5</real>
			</dict>
			<key>g_Knifelight_11_1.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>241</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>217</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-80.5</real>
				<key>offsetY</key>
				<real>-22</real>
			</dict>
			<key>g_Knifelight_11_4.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>241</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>298</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>55.5</real>
				<key>offsetY</key>
				<real>30.5</real>
			</dict>
			<key>g_Knifelight_11_2.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>241</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>830</integer>
				<key>y</key>
				<integer>828</integer>
				<key>offsetX</key>
				<real>-28.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>g_Knifelight_11_3.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>241</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>300</integer>
				<key>y</key>
				<integer>926</integer>
				<key>offsetX</key>
				<real>44.5</real>
				<key>offsetY</key>
				<real>27</real>
			</dict>
			<key>enemy_8_skill_2.png</key>
			<dict>
				<key>width</key>
				<integer>423</integer>
				<key>height</key>
				<integer>251</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>1312</integer>
				<key>y</key>
				<integer>354</integer>
				<key>offsetX</key>
				<real>-138.5</real>
				<key>offsetY</key>
				<real>12.5</real>
			</dict>
			<key>enemy_8_skill_3.png</key>
			<dict>
				<key>width</key>
				<integer>198</integer>
				<key>height</key>
				<integer>267</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>1045</integer>
				<key>y</key>
				<integer>627</integer>
				<key>offsetX</key>
				<real>-50</real>
				<key>offsetY</key>
				<real>15.5</real>
			</dict>
			<key>enemy_8_skill_4.png</key>
			<dict>
				<key>width</key>
				<integer>239</integer>
				<key>height</key>
				<integer>258</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>1673</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-78.5</real>
				<key>offsetY</key>
				<real>10</real>
			</dict>
			<key>enemy_8_skill_5.png</key>
			<dict>
				<key>width</key>
				<integer>235</integer>
				<key>height</key>
				<integer>255</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>1244</integer>
				<key>y</key>
				<integer>606</integer>
				<key>offsetX</key>
				<real>-50.5</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>enemy_8_skill_6.png</key>
			<dict>
				<key>width</key>
				<integer>465</integer>
				<key>height</key>
				<integer>228</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>1480</integer>
				<key>y</key>
				<integer>606</integer>
				<key>offsetX</key>
				<real>117.5</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>enemy_8_skill_7.png</key>
			<dict>
				<key>width</key>
				<integer>464</integer>
				<key>height</key>
				<integer>242</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1010</integer>
				<key>offsetX</key>
				<real>118</real>
				<key>offsetY</key>
				<real>-24</real>
			</dict>
			<key>enemy_8_skill_8.png</key>
			<dict>
				<key>width</key>
				<integer>464</integer>
				<key>height</key>
				<integer>231</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1253</integer>
				<key>offsetX</key>
				<real>118</real>
				<key>offsetY</key>
				<real>-17.5</real>
			</dict>
			<key>enemy_8_skill_9.png</key>
			<dict>
				<key>width</key>
				<integer>422</integer>
				<key>height</key>
				<integer>236</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1485</integer>
				<key>offsetX</key>
				<real>118</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>enemy_8_skill_10.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>276</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>465</integer>
				<key>y</key>
				<integer>1019</integer>
				<key>offsetX</key>
				<real>-25.5</real>
				<key>offsetY</key>
				<real>14</real>
			</dict>
			<key>enemy_8_run_1.png</key>
			<dict>
				<key>width</key>
				<integer>219</integer>
				<key>height</key>
				<integer>282</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>625</integer>
				<key>y</key>
				<integer>1019</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>enemy_8_run_2.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>284</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1722</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>enemy_8_run_3.png</key>
			<dict>
				<key>width</key>
				<integer>223</integer>
				<key>height</key>
				<integer>286</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>845</integer>
				<key>y</key>
				<integer>944</integer>
				<key>offsetX</key>
				<real>10.5</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>enemy_8_run_4.png</key>
			<dict>
				<key>width</key>
				<integer>191</integer>
				<key>height</key>
				<integer>289</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>423</integer>
				<key>y</key>
				<integer>1485</integer>
				<key>offsetX</key>
				<real>-12.5</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>enemy_8_run_5.png</key>
			<dict>
				<key>width</key>
				<integer>194</integer>
				<key>height</key>
				<integer>275</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>615</integer>
				<key>y</key>
				<integer>1302</integer>
				<key>offsetX</key>
				<real>-16</real>
				<key>offsetY</key>
				<real>15.5</real>
			</dict>
			<key>enemy_8_run_6.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>282</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>241</integer>
				<key>y</key>
				<integer>1722</integer>
				<key>offsetX</key>
				<real>-36.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>enemy_8_run_7.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>286</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>1069</integer>
				<key>y</key>
				<integer>895</integer>
				<key>offsetX</key>
				<real>-17.5</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>enemy_8_run_8.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>282</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>845</integer>
				<key>y</key>
				<integer>1231</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>enemy_8_run_9.png</key>
			<dict>
				<key>width</key>
				<integer>228</integer>
				<key>height</key>
				<integer>285</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>1273</integer>
				<key>y</key>
				<integer>862</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>g_Knifelight_10_1.png</key>
			<dict>
				<key>width</key>
				<integer>332</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>338</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>615</integer>
				<key>y</key>
				<integer>1578</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>g_Knifelight_10_2.png</key>
			<dict>
				<key>width</key>
				<integer>329</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>338</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>401</integer>
				<key>y</key>
				<integer>1775</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>g_Knifelight_10_3.png</key>
			<dict>
				<key>width</key>
				<integer>302</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>338</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>1736</integer>
				<key>y</key>
				<integer>259</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>enemy_8_attack_4.png</key>
			<dict>
				<key>width</key>
				<integer>378</integer>
				<key>height</key>
				<integer>263</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>1076</integer>
				<key>y</key>
				<integer>1182</integer>
				<key>offsetX</key>
				<real>-102</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>enemy_8_attack_5.png</key>
			<dict>
				<key>width</key>
				<integer>434</integer>
				<key>height</key>
				<integer>287</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>1502</integer>
				<key>y</key>
				<integer>835</integer>
				<key>offsetX</key>
				<real>-129</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>enemy_8_attack_6.png</key>
			<dict>
				<key>width</key>
				<integer>401</integer>
				<key>height</key>
				<integer>307</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>1076</integer>
				<key>y</key>
				<integer>1446</integer>
				<key>offsetX</key>
				<real>-112.5</real>
				<key>offsetY</key>
				<real>11.5</real>
			</dict>
			<key>enemy_8_attack_7.png</key>
			<dict>
				<key>width</key>
				<integer>322</integer>
				<key>height</key>
				<integer>279</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>1502</integer>
				<key>y</key>
				<integer>1123</integer>
				<key>offsetX</key>
				<real>-73</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>enemy_8_attack_9.png</key>
			<dict>
				<key>width</key>
				<integer>392</integer>
				<key>height</key>
				<integer>263</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>731</integer>
				<key>y</key>
				<integer>1754</integer>
				<key>offsetX</key>
				<real>-63</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>enemy_8_attack_11.png</key>
			<dict>
				<key>width</key>
				<integer>432</integer>
				<key>height</key>
				<integer>264</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>1124</integer>
				<key>y</key>
				<integer>1754</integer>
				<key>offsetX</key>
				<real>-82</real>
				<key>offsetY</key>
				<real>-11</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>enemy_80.png</string>
			<key>realTextureFileName</key>
			<string>enemy_80.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>